<!DOCTYPE html>
<html>
    
    <head>
        <title>Harjoitustyo</title>
    </head>
    
    <body>
        <h1>Kysymykset</h1>
        
        <ul>
            <li th:each="arvo : ${lista}">
                <span th:text="${arvo}">
                    :DD
                </span>
            </li>
        </ul>
        
        <h2>Luo uusi kysymys</h2>
        <form>
            <table>
              <tbody><tr>
                <td>
                  Kurssi:
                </td>
                <td>
                    <input name="kurssi" type="text">
                </td>
              </tr>
              <tr>
                <td>
                  Aihe:
                </td>
                <td>
                    <input name="aihe" type="text">
                </td>
              </tr>
              <tr>
                <td>
                  Kysymysteksti:
                </td>
                <td>
                    <input name="kysymysteksti" type="text">
                </td>
              </tr>
            </tbody></table>

            <input value="Luo" type="submit">
          </form>
        
    </body>
    
</html>
