<!DOCTYPE html>
<html>
    
    <head>
        <title>Harjoitustyo</title>
    </head>
    
    <body>
        <h1>Kysymykset</h1>
        
        <div>
            <div th:each="kurssi: ${lista}">
                <h2>Kurssi: <span th:text="${kurssi.getKurssi()}"></span></h2>
                <span th:each="aihe: ${kurssi.getAiheet()}">
                    <h3>Aihe: <span th:text="${aihe.getAihe()}"></span></h3>
                        <ul>
                            
                            <li th:each="kysymys: ${aihe.getKysymykset()}">
                                <form method="POST" action="#" th:action="@{'kysymys/' + ${kysymys.getId()} + '/delete/'}">
                                    <a th:href="@{'kysymys/' + ${kysymys.getId()}}" th:text="${kysymys.getKysymys()}">
                                        :)
                                    </a>
                                    <span>
                                        <input type="submit" value="Poista">
                                    </span>
                                </form>
                            </li>
                        </ul>
                </span>
            </div>
        </div>
        
        <h2>Luo uusi kysymys</h2>
        <form method="POST" action="/uusikysymys">
            <table>
              <tbody><tr>
                <td>
                  Kurssi:
                </td>
                <td>
                    <input name="kurssi" type="text" required>
                </td>
              </tr>
              <tr>
                <td>
                  Aihe:
                </td>
                <td>
                    <input name="aihe" type="text" required>
                </td>
              </tr>
              <tr>
                <td>
                  Kysymysteksti:
                </td>
                <td>
                    <input name="kysymysteksti" type="text" required>
                </td>
              </tr>
            </tbody></table>

            <input value="Luo" type="submit">
          </form>
        <form method="POST" action="/poistakannatjaluo">
            <input type="submit" value="Poista kaikki ja luo data uusiksi" />
        </form>
    </body>
    
</html>
