<!DOCTYPE html>
<html>
    
    <head>
        <title>Harjoitustyo</title>
        <meta charset="UTF-8">
    </head>
    
    <body>
        <h1 style="color: red;">Kysymyspankki</h1>
        
        <div>
            <div style="display:block;" th:each="kurssi: ${lista}">
                <h2 style="margin-block-end: 0.2em;">Kurssi: <span th:text="${kurssi.getKurssi()}"></span></h2>
                <span style="border: 1px solid black; border-radius: 5px; display:table; margin-bottom: 5px;" th:each="aihe: ${kurssi.getAiheet()}">
                    <h4 style="padding: 5px 5px;">Aihe: <span th:text="${aihe.getAihe()}"></span></h4>
                        <ul>
                            
                            <li th:each="kysymys: ${aihe.getKysymykset()}" style="padding-right:5px;">
                                <form method="POST" action="#" th:action="@{'kysymys/' + ${kysymys.getId()} + '/delete/'}">
                                    <a th:href="@{'kysymys/' + ${kysymys.getId()}}" th:text="${kysymys.getKysymys()}">
                                        :)
                                    </a>&nbsp;
                                    <span>
                                        <input type="submit" value="Poista">
                                    </span>
                                </form>
                            </li>
                        </ul>
                </span>
            </div>
        </div>
        
        <h2>Luo uusi kysymys</h2>
        <form method="POST" action="/uusikysymys">
            <table>
              <tbody><tr>
                <td>
                  Kurssi:
                </td>
                <td>
                    <input name="kurssi" maxlength="100" type="text" required>
                </td>
              </tr>
              <tr>
                <td>
                  Aihe:
                </td>
                <td>
                    <input name="aihe" maxlength="100" type="text" required>
                </td>
              </tr>
              <tr>
                <td>
                  Kysymysteksti:
                </td>
                <td>
                    <input name="kysymysteksti" type="text" maxlength="255" required>
                </td>
              </tr>
            </tbody></table>

            <input value="Luo" type="submit">
          </form>
        <div style="padding-top: 20px">
            <form method="POST" action="/poistakannatjaluo">
                <input type="submit" value="Luo alkuper&auml;inen data uusiksi" />
            </form>
        </div>
    </body>
    
</html>
